html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: white;
    justify-content: center;
}


/* Barra navegacion superior*/
header {
    margin: 0px;
    padding: 0px;
    background-color: rgb(53, 58, 64);
    display: flex;
    padding: 10px 20px;
}

.mi_link {
    color: rgb(154, 157, 160);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 16px 16px;
    display: block;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

@media (max-width: 1200px) {
    ul.navHeader li {
        float: none;
    }
    ul.navHeader li a {
        padding: 5px;
    }
}


/* carousel de imagenes de bs as */
.texto_sobre_img {
    width: 600px;
    text-align: right;
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: medium;
}

.texto_sobre_img a {
    margin: 2px;
}

@media (max-width: 768px) {
    .texto_sobre_img {
        position: relative;
        text-align: center;
        color: white;
        background-color: rgb(53, 58, 64);
        font-size: medium;
        padding: 10px;
        margin: 0px;
        width: 100%;
        left: 0px;
    }
}

/* 3 tarjetas */
.card {
    padding: 0px;
}

img {
    max-width: 100%;
}

.card .btn{
    padding: 1px 3px;
    font-size: 16px;
    font-weight:600;
}

.card .btn-info{
    color: white;
}


/* imagen (izquierda) y texto (derecha) */
.imagen_texto {
    background-color: rgb(53, 58, 64);
    color: white;
    font-size: 14px;
    margin: 0 auto;
}

@media (min-width:850px) {
    .imagen_texto {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
    }
}

/* Conviértete en un orador*/
.orador {
    text-align: center;
    margin: 5px;
    padding: 0px;
}

.orador p {
    text-align: center;
    margin: 0px;
    padding: 2px;
}


/* Nombre y Apellido del Orador */
.nomApel {
    margin: 5px;
    padding: 0px;
}

.nomApel * {
    margin: 0px;
    padding: 5px;
}

/* Sobre que quieres hablar ?*/
.hablar{
    margin: 5px;
    padding: 0px;
}

.hablar * {
    display: block;
    margin: 0px;
    padding: 2px;
}

.hablar textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    height: 8rem;
}

.hablar button {
    background-color: rgb(150, 201, 62);
    border: none;
    margin: 14px 0;
    font-size: 1.3rem;
    width: 100%;
}

/* Venta de tickets */
.venta *{
    margin: 0px;
    padding: 3px;
}

.venta input{
    padding-left: 10px;
}

.venta button{
    background-color: rgb(150, 201, 62);
    border: none;
    margin: 5px 0;
    font-size: 1.3rem;
    width: 100%;
}

.venta label{
    width: 100%;
    height: 50px;
    background-color: rgb(136, 229, 229);
    text-align: left;
    padding-left: 15px;
    border-radius: 6px;
    padding-top:10px;
}

.venta select{
    width: 100%;
    border-radius: 5px;
    border-color: rgb(195, 193, 193);
}

.tarjetas{
    text-align: center;
    border-radius: 0px;
    border-color: blue;
    border-width: 2px;
    margin: 1px;
    padding: 0px 3px;
}

.tarjetas *{
    padding: 10px 0px;
}

.tarjetas:hover{
    border-color: orange;
}


/*barra de navegacion inferior*/  
footer div {
    background-color: rgb(29, 67, 88);
    padding: 0%;
    text-align: center;
    margin: 1%;
}

footer div .col-md-2{
    margin: 1% 1%;
}

footer a {
    text-align: center;
    color: white;
    padding: 0px;
    text-decoration: none;
}

footer a:hover {
    color: black
}
